[package]
name = "RustedSciThe"
version = "0.2.14"
edition = "2021"
description = "RustedSciThe is a Rust library for symbolic and numerical computing: parse string expressions in symbolic representation/symbolic function and compute symbolic (analytical) derivatives and transform symbolic expressions into regular Rust functions, compute symbolic (analytical) jacobians and use it to solve nonlinear algebraic equations and ODE with IVP solvers: BDF (Backward Differentiation Formula), backward Euler and BVP with Newton-Raphson"
author = "Gleb Zasllavsky"
license = "MIT"
keywords = [ "mathematics", "science", "ODE", "symbolic"]
repository = "https://github.com/Gleb-Zaslavsky/RustedSciThe"

[dependencies]
itertools = "0.13.0"
nalgebra = { version = "0.33.2", features = [ "sparse"] }
nalgebra-sparse = "0.10.0"
num-traits = "0.2.19"
sprs = "0.11.2"
rand = "0.8.5"
ndarray = "0.16.1"
num = "0.4.3"
num-complex = "0.4.6"
plotters = "0.3.7"
csv = "1.3.1"
splines = "4.4.0"
approx = "0.5.1"
lapack = "0.19.0"
faer = "0.19.4"
faer_gmres = "0.0.5"
rayon="1.10.0"
regex = "1.11.1"
strum = "0.26"
strum_macros = "0.26"
simplelog = "0.12.2"
log = "0.4.22"
chrono = "0.4.38"
loc = "0.5.0"
toml = "0.8.19"
